venv/
__pycache__/
*.pyc
processed/
processed_test/
raw/
*.npy
*.index
nim_config.py
.tui_state.json
.model_nicknames.json
ragtag/ragtag
ragtag/ragtag-*
ragtag/build_pyinstaller.sh
rag-tui/
build/
bin/
ragtag/rag-tui
discard/
.DS_Store
CHANGES.md
